﻿@model SimpleDatabase2.Models.Donor
@{
    ViewBag.Title = "Delete Donor: " + Model.Donor_Name;
}

<h2>@ViewBag.Title</h2>
<h3>Are you sure you want to delete this Donor?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Id:
        </dt>

        <dd>
            @Model.Donor_ID
        </dd>

        <dt>
            Name:
        </dt>

        <dd>
            @Model.Donor_Name
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Model.Donor_Email
        </dd>

        <dt>
            Phone:
        </dt>

        <dd>
            @Model.Donor_Phone
        </dd>

        <dt>
            Street Name:
        </dt>

        <dd>
            @Model.Street_Name
        </dd>
        <dt>
            Street Number:
        </dt>

        <dd>
            @Model.Street_Number
        </dd>
        <dt>
            Suite Number:
        </dt>

        <dd>
            @Model.Suite_Number
        </dd>
        <dt>
            City:
        </dt>

        <dd>
            @Model.Donor_City
        </dd>
        <dt>
            State:
        </dt>

        <dd>
            @Model.Donor_State
        </dd>
        <dt>
            Zip Code:
        </dt>

        <dd>
            @Model.Donor_Zip
        </dd>

    </dl>

    <form method="post" action="/home/delete">
        <div class="form-actions no-color">
            <input type="hidden" name="id" value="@Model.Donor_ID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href="/donor/donor" class="btn btn-default">Back to List</a>
        </div>
    </form>
</div>

