﻿@model SimpleDatabase2.Models.Donor
@{
    ViewBag.Title = "View Donor: " + Model.Donor_Name;
}

<h2>@ViewBag.Title</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            Id:
        </dt>

        <dd>
            @Model.Donor_ID
        </dd>

        <dt>
            Name:
        </dt>

        <dd>
            @Model.Donor_Name
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Model.Donor_Email
        </dd>

        <dt>
            Phone:
        </dt>

        <dd>
            @Model.Donor_Phone
        </dd>

        <dt>
            Street Name:
        </dt>

        <dd>
            @Model.Street_Name
        </dd>
        <dt>
            Street Number:
        </dt>

        <dd>
            @Model.Street_Number
        </dd>
        <dt>
            Suite Number:
        </dt>

        <dd>
            @Model.Suite_Number
        </dd>
        <dt>
            City:
        </dt>

        <dd>
            @Model.Donor_City
        </dd>
        <dt>
            State:
        </dt>

        <dd>
            @Model.Donor_State
        </dd>
        <dt>
            Zip Code:
        </dt>

        <dd>
            @Model.Donor_Zip
        </dd>

    </dl>
    <a href="/donor/donor">Back to List</a>

</div>